* {
    box-sizing: border-box;
}

body {
   background-color: hsl(225, 100%, 94%);
}

.title {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    margin: 0 0 2px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

span {
   color: hsl(227, 4%, 60%);
   font-size: 1rem ;
}

.text {
    color: hsl(222, 12%, 67%);
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.proceed-button {
    width: 100%;
    background-color: hsl(245, 48%, 55%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.7rem;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    background-color:   hsl(0, 0%, 100%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}



.second-div {
    flex-grow: 1;
    gap: 5px;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: hsl(224, 51%, 41%);
}

.cancel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem ;
    color: #000;
}

.card {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.card-body {
    padding: 10px 20px;
    background-color: hsl(225, 100%, 98%);
    
}

.card-img-top {
    width: 100%;
}











